{
    "extends": "airbnb-base",
    "plugins": [
        "jest"
    ],
    "env": {
        "es6": true,
        "jest/globals": true
    },
    "overrides": [{
        "files": [ "*.js"],
        "excludedFiles": "dist/index.js"
    }]
}
